img {
    border-radius: 10px;
    margin: 15px 0px;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    border-radius: 10px;
    margin: 15px 0px;
}

/* :root {
    --vp-c-brand: #ff7340 !important;
    --vp-c-brand-light: #ff5719;
    --vp-c-brand-lighter: #ff7340;
    --vp-c-brand-lighter: rgba(255, 135, 23, 0.25);
    --vp-c-brand-dark: #ff622d;
    --vp-c-brand-darker: #e23c00;
  
    --vp-c-sponsor: #fd1d7c;
} */

:root {
    --vp-c-brand-1: #16a34a;
    --vp-c-brand-2: #0e692f;
    --vp-c-brand-3: var(--vp-c-indigo-3);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);
  }